<div>
    <a href="">--Input TLE Below--</a>
</div>


<br><br>

<div ng-controller = "TodoController">

	
		Name: <input type="text" name="TLEName" ng-model = "Name" ><br>
		Line 1: <input type="text" name="TLEL1" ng-model = "Line1" ><br>
		Line 2: <input type="text" name="TLEL2" ng-model = "Line2" ><br>
		<br><br>
		<button ng-click = "sendTLE()" >Read TLE</button>
</div>





<!--
<div ng-controller="TodoController">
  <form novalidate class="simple-form">
    <label>Name: <input type="text" ng-model="user.name" /></label><br />
    <label>Line1: <input type="text" ng-model="user.line1" /></label><br />
    <label>Line2: <input type="text" ng-model="user.line2" /></label><br />

    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Show Input" />
  </form>
  <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>
-->

